services:
  api:
    build: .
    container_name: api_exa1
    restart: always
    ports:
      - "8000:80"
    volumes:
      - .:/var/www/html
    env_file:
      - .env
    depends_on:
      - db 

  db:
    image: mysql:8.0
    container_name: db_exa1
    restart: always
    ports:
      - "3306:3306"
    env_file:
      - .env
    volumes:
      - db_data:/var/lib/mysql 

volumes:
  db_data: